{% if page_title is defined %}
<h1 class="page-header">{{ page_title }}</h1>
{% endif %}

<nav class="navbar navbar-expand-sm navbar-light bg-light">
<div class="container-fluid">

<div class="navbar-collapse" id="navbarSupportedContent">
<ul class="nav navbar-nav mr-auto beautify-menu">                       
{% for menuitem in topnav %}
	<li class="nav-item">
	{% if menuitem.url == '' %}
		<a class="nav-link {% if menuitem.active is defined %}active{% endif %}" href="#">{{ menuitem.name }}</a>
	{% else %}
		{% if menuitem.pathParams is defined  %}			
			<a class="nav-link {% if menuitem.active is defined %}active{% endif %}" href="{{ path(menuitem.url, menuitem.pathParams) }}">{{ menuitem.name }}</a>
		{% else %}
			<a class="nav-link {% if menuitem.active is defined %}active{% endif %}" href="{{ path(menuitem.url) }}">{{ menuitem.name }}</a>
		{% endif %}
	{% endif %}	
	</li>
{% endfor %}                    
</ul>
</div>

</div>
</nav>